{{#if enabled}}
  <div class="{{class}}__background {{class}}--fade-in" {{action 'handleCloseModal'}}></div>
  <details open class="{{class}}__block {{class}}--slide-in" {{action 'handleCloseModal'}}>
    <summary class="{{class}}__title">{{title}}</summary>
    {{#if message}}
      <p class="{{class}}__message">{{message}}</p>
    {{/if}}
    {{#if yield}}
      <p class="{{class}}__message">{{yield}}</p>
    {{/if}}
  </details>
{{/if}}
