{{#if enabled}}
<div class="modal-message__background" {{action 'closeModal'}}></div>
<details open class="modal-message" {{action 'closeModal'}}>
  <summary class="modal-message__title">{{title}}</summary>
  {{#if message}}
  <p class="modal-message__message">{{message}}</p>
  {{/if}}
  {{#if yield}}
  <p class="modal-message__message">{{yield}}</p>
  {{/if}}
</details>
{{/if}}
