{{#if enabled}}
  <div class="c-ModalMessage__background c-ModalMessage--fade-in" {{action 'handleCloseModal'}}></div>
  <details open class="c-ModalMessage c-ModalMessage--slide-in" {{action 'handleCloseModal'}}>
    <summary class="c-ModalMessage__title">{{title}}</summary>
    {{#if message}}
      <p class="c-ModalMessage__message">{{message}}</p>
    {{/if}}
    {{#if yield}}
      <p class="c-ModalMessage__message">{{yield}}</p>
    {{/if}}
  </details>
{{/if}}
