<header class="hangman__header">
  <h1 class="hangman__title" {{action 'restart'}}>{{title}}</h1>
</header>

<aside class="hangman__categories">
  <header class="hangman__categories__header">
    <h1 class="hangman__categories__title">Categories</h1>
  </header>
  <nav class="hangman__category-nav">
    {{#each collections as |item|}}
    <a href="#" title={{item.description}} class={{if item.active 'hangman__category-nav-link--active' 'hangman__category-nav-link'}} {{action 'selectCollection' item}}>{{item.name}}</a>
    {{/each}}
  </nav>
</aside>

{{#if collection}}
<section class="hangman__game hangman__game-board">
  <header class="hangman__game__header">
    <p class="collection__description">{{collection.description}}</p>
  </header>
  {{sprite-viewer class="sprite-viewer" index=spriteIndex length=length sprite=spriteSrc width=spriteWidth height=spriteHeight disableInlineStyles=disableInlineStyles}}
  {{letter-display class="letter-display" word=word letters=guessed blank=blank}}
  {{letter-input class="letter-input" selected=guessed action="letterSelected" disableInput=gameOver}}
  {{letter-display class="missed-letters" word=missedLetters letters=missedLetters}}
</section>
{{modal-message enabled=gameOver title=gameOver.title message=gameOver.message action="restart"}}
{{else if hasBlock}}
{{yield}}
{{/if}}
