<header class="c-hangman-game__head">
  <h1 class="c-hangman-game__title" {{action 'handleRestart'}}>{{title}}</h1>
</header>

<aside class="c-hangman-game__categories">
  <header class="c-hangman-game__categories-head">
    <h1 class="c-hangman-game__categories-title">Categories</h1>
  </header>
  <nav class="c-hangman-game__categories-nav">
    {{#each collections as |item|}}
    <a href="#" title={{item.description}} class={{if item.active 'c-hangman-game__categories-link--active' 'c-hangman-game__categories-link'}} {{action 'handleSelectCollection' item}}>{{item.name}}</a>
    {{/each}}
  </nav>
</aside>

{{#if collection}}
<section class="c-hangman-game__board">
  <header class="c-hangman-game__head">
    <p class="c-hangman-game__description">{{collection.description}}</p>
  </header>
  {{sprite-viewer class="c-sprite-viewer" index=spriteIndex length=length sprite=spriteSrc width=spriteWidth height=spriteHeight disableInlineStyles=disableInlineStyles}}
  {{letter-display class="c-letter-display" word=word letters=guessed blank=blank}}
  {{letter-input class="c-letter-input" selected=guessed action="handleLetterSelected" disableInput=gameOver}}
  <div class="c-missed-letters__wrapper">
    <label class="c-missed-letters__label">Missed:</label>
    {{letter-display class="c-missed-letters" word=missedLetters letters=missedLetters}}
  </div>
</section>
{{modal-message enabled=gameOver title=gameOver.title message=gameOver.message action="handleRestart"}}
{{else if hasBlock}}
{{yield}}
{{/if}}
