<section class="gameboard">
  {{category-select
    content=model.categories
    prompt="Select a category..."
    selection=selectedCategory
    action="refresh"}}

  {{#if selectedCategory}}
    {{hangman-display missedCount=missedCount}}
    {{word-display word=word letters=suggestions action="statsUpdated"}}
    {{data-display data=displayData}}
    {{keyboard-ui selected=suggestions disabled=missedLetters action="keyboardUIClick" active=gameOver}}
  {{else}}
  <article class="intro">Welcome</article>
  {{/if}}
</section>
